body {
    font-family: Arial, sans-serif;
}
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.btn {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}

.product-image img {
    width: 200px; /* 设置图片宽度 */
    height: auto; /* 保持图片的宽高比 */
    display: block; /* 防止图片下方出现空白 */
    margin: 0 auto; /* 居中显示图片 */
}
